--
-- PostgreSQL database dump
--

\restrict lGxpYlznUytMaUJVOrbVJIqHQEbYo5evNMiPlQIbMa9vf2pCXMA0np0fyOFpctF

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: bill_payments_bill_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bill_payments_bill_type_enum AS ENUM (
    'PAYBILL',
    'TILL',
    'UTILITY'
);


ALTER TYPE public.bill_payments_bill_type_enum OWNER TO postgres;

--
-- Name: bill_payments_provider_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bill_payments_provider_enum AS ENUM (
    'MPESA',
    'ZAAD',
    'EDAHAB',
    'PREMIER',
    'GENCOM'
);


ALTER TYPE public.bill_payments_provider_enum OWNER TO postgres;

--
-- Name: escrows_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.escrows_status_enum AS ENUM (
    'LOCKED',
    'RELEASED',
    'DISPUTED',
    'REFUNDED'
);


ALTER TYPE public.escrows_status_enum OWNER TO postgres;

--
-- Name: kyc_records_id_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.kyc_records_id_type_enum AS ENUM (
    'PASSPORT',
    'NATIONAL_ID',
    'DRIVERS_LICENSE'
);


ALTER TYPE public.kyc_records_id_type_enum OWNER TO postgres;

--
-- Name: kyc_records_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.kyc_records_status_enum AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.kyc_records_status_enum OWNER TO postgres;

--
-- Name: ledger_entries_entry_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ledger_entries_entry_type_enum AS ENUM (
    'DEBIT',
    'CREDIT'
);


ALTER TYPE public.ledger_entries_entry_type_enum OWNER TO postgres;

--
-- Name: ledger_entries_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ledger_entries_status_enum AS ENUM (
    'PENDING',
    'COMPLETED',
    'REVERSED',
    'FAILED'
);


ALTER TYPE public.ledger_entries_status_enum OWNER TO postgres;

--
-- Name: merchant_kyc_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_kyc_status_enum AS ENUM (
    'NOT_STARTED',
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE public.merchant_kyc_status_enum OWNER TO postgres;

--
-- Name: merchant_settlements_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_settlements_status_enum AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public.merchant_settlements_status_enum OWNER TO postgres;

--
-- Name: merchant_team_members_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_team_members_role_enum AS ENUM (
    'OWNER',
    'ADMIN',
    'MANAGER',
    'DEVELOPER',
    'VIEWER'
);


ALTER TYPE public.merchant_team_members_role_enum OWNER TO postgres;

--
-- Name: merchant_team_members_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_team_members_status_enum AS ENUM (
    'INVITED',
    'ACTIVE',
    'REJECTED'
);


ALTER TYPE public.merchant_team_members_status_enum OWNER TO postgres;

--
-- Name: merchant_terminals_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_terminals_status_enum AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'MAINTENANCE'
);


ALTER TYPE public.merchant_terminals_status_enum OWNER TO postgres;

--
-- Name: merchant_terminals_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchant_terminals_type_enum AS ENUM (
    'VIRTUAL',
    'PHYSICAL'
);


ALTER TYPE public.merchant_terminals_type_enum OWNER TO postgres;

--
-- Name: merchants_business_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchants_business_type_enum AS ENUM (
    'HEADQUARTERS',
    'BRANCH',
    'INDEPENDENT'
);


ALTER TYPE public.merchants_business_type_enum OWNER TO postgres;

--
-- Name: merchants_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.merchants_status_enum AS ENUM (
    'PENDING',
    'VERIFIED',
    'SUSPENDED'
);


ALTER TYPE public.merchants_status_enum OWNER TO postgres;

--
-- Name: notifications_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notifications_type_enum AS ENUM (
    'TRANSACTION',
    'SECURITY',
    'KYC',
    'SYSTEM'
);


ALTER TYPE public.notifications_type_enum OWNER TO postgres;

--
-- Name: transactions_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transactions_status_enum AS ENUM (
    'INITIATED',
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED',
    'REVERSED'
);


ALTER TYPE public.transactions_status_enum OWNER TO postgres;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_role_enum AS ENUM (
    'ADMIN',
    'USER',
    'MERCHANT'
);


ALTER TYPE public.users_role_enum OWNER TO postgres;

--
-- Name: users_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_status_enum AS ENUM (
    'ACTIVE',
    'PENDING_KYC',
    'UNDER_REVIEW',
    'VERIFIED',
    'SUSPENDED',
    'DEACTIVATED'
);


ALTER TYPE public.users_status_enum OWNER TO postgres;

--
-- Name: virtual_cards_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.virtual_cards_status_enum AS ENUM (
    'ACTIVE',
    'FROZEN',
    'CANCELLED'
);


ALTER TYPE public.virtual_cards_status_enum OWNER TO postgres;

--
-- Name: wallets_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.wallets_status_enum AS ENUM (
    'ACTIVE',
    'FROZEN',
    'CLOSED'
);


ALTER TYPE public.wallets_status_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bill_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill_payments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    provider public.bill_payments_provider_enum NOT NULL,
    bill_type public.bill_payments_bill_type_enum NOT NULL,
    merchant_id character varying(100) NOT NULL,
    account_number character varying(100),
    amount numeric(20,8) NOT NULL,
    currency character varying(10) NOT NULL,
    transaction_id uuid,
    status character varying DEFAULT 'COMPLETED'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bill_payments OWNER TO postgres;

--
-- Name: crypto_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.crypto_addresses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    currency character varying NOT NULL,
    network character varying NOT NULL,
    address character varying NOT NULL,
    memo character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.crypto_addresses OWNER TO postgres;

--
-- Name: escrows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.escrows (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    buyer_wallet_id uuid NOT NULL,
    seller_wallet_id uuid NOT NULL,
    amount numeric(20,8) NOT NULL,
    currency character varying(10) NOT NULL,
    status public.escrows_status_enum DEFAULT 'LOCKED'::public.escrows_status_enum NOT NULL,
    lock_transaction_id uuid,
    release_transaction_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid,
    source_platform character varying(50) DEFAULT 'wallet'::character varying NOT NULL,
    destination_platform character varying(50) DEFAULT 'wallet'::character varying NOT NULL
);


ALTER TABLE public.escrows OWNER TO postgres;

--
-- Name: exchange_rates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exchange_rates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    from_currency character varying NOT NULL,
    to_currency character varying NOT NULL,
    rate numeric(18,8) NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.exchange_rates OWNER TO postgres;

--
-- Name: kyc_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc_records (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    id_number character varying NOT NULL,
    id_type public.kyc_records_id_type_enum NOT NULL,
    status public.kyc_records_status_enum DEFAULT 'PENDING'::public.kyc_records_status_enum NOT NULL,
    rejection_reason character varying,
    extracted_data jsonb,
    searchable_text text,
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    document_metadata jsonb
);


ALTER TABLE public.kyc_records OWNER TO postgres;

--
-- Name: ledger_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ledger_entries (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    transaction_id uuid NOT NULL,
    account_id uuid NOT NULL,
    entry_type public.ledger_entries_entry_type_enum NOT NULL,
    amount numeric(20,8) NOT NULL,
    currency character varying(10) NOT NULL,
    reference character varying,
    status public.ledger_entries_status_enum DEFAULT 'COMPLETED'::public.ledger_entries_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    metadata jsonb
);


ALTER TABLE public.ledger_entries OWNER TO postgres;

--
-- Name: merchant_api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_api_keys (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    key_name character varying NOT NULL,
    client_id character varying NOT NULL,
    client_secret_hash character varying NOT NULL,
    last_used_at timestamp without time zone,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.merchant_api_keys OWNER TO postgres;

--
-- Name: merchant_kyc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_kyc (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    status public.merchant_kyc_status_enum DEFAULT 'NOT_STARTED'::public.merchant_kyc_status_enum NOT NULL,
    documents jsonb,
    extracted_data jsonb,
    rejection_reason character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    legal_business_name character varying,
    business_type character varying,
    nature_of_business character varying,
    business_address character varying,
    settlement_preference character varying,
    terms_accepted boolean DEFAULT false NOT NULL,
    terms_accepted_at timestamp without time zone
);


ALTER TABLE public.merchant_kyc OWNER TO postgres;

--
-- Name: merchant_settlements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_settlements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    amount numeric(18,8) NOT NULL,
    currency character varying NOT NULL,
    status public.merchant_settlements_status_enum DEFAULT 'PENDING'::public.merchant_settlements_status_enum NOT NULL,
    transaction_id character varying,
    destination_wallet_id character varying,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    reference character varying,
    processed_at timestamp without time zone
);


ALTER TABLE public.merchant_settlements OWNER TO postgres;

--
-- Name: merchant_team_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_team_members (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role public.merchant_team_members_role_enum DEFAULT 'VIEWER'::public.merchant_team_members_role_enum NOT NULL,
    status public.merchant_team_members_status_enum DEFAULT 'INVITED'::public.merchant_team_members_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.merchant_team_members OWNER TO postgres;

--
-- Name: merchant_terminals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_terminals (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    name character varying NOT NULL,
    type public.merchant_terminals_type_enum DEFAULT 'VIRTUAL'::public.merchant_terminals_type_enum NOT NULL,
    terminal_id character varying NOT NULL,
    status public.merchant_terminals_status_enum DEFAULT 'ACTIVE'::public.merchant_terminals_status_enum NOT NULL,
    last_heartbeat timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.merchant_terminals OWNER TO postgres;

--
-- Name: merchant_webhook_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_webhook_configs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id uuid NOT NULL,
    url character varying NOT NULL,
    secret character varying NOT NULL,
    enabled_events jsonb,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.merchant_webhook_configs OWNER TO postgres;

--
-- Name: merchant_webhook_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_webhook_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    merchant_id character varying NOT NULL,
    event_type character varying NOT NULL,
    payload jsonb NOT NULL,
    response_status integer,
    response_body text,
    delivery_status character varying DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.merchant_webhook_logs OWNER TO postgres;

--
-- Name: merchants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchants (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    business_name character varying NOT NULL,
    tax_id character varying,
    website text,
    status public.merchants_status_enum DEFAULT 'PENDING'::public.merchants_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    business_metadata jsonb,
    logo_url character varying,
    branding_color character varying DEFAULT '#16C66E'::character varying NOT NULL,
    gencom_merchant_id character varying,
    parent_id character varying,
    business_type public.merchants_business_type_enum DEFAULT 'INDEPENDENT'::public.merchants_business_type_enum NOT NULL
);


ALTER TABLE public.merchants OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    title character varying NOT NULL,
    message text NOT NULL,
    type public.notifications_type_enum DEFAULT 'SYSTEM'::public.notifications_type_enum NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    action_url character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key character varying NOT NULL,
    value text,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    idempotency_key character varying,
    description character varying(255) NOT NULL,
    status public.transactions_status_enum DEFAULT 'INITIATED'::public.transactions_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    metadata jsonb
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    full_name character varying NOT NULL,
    status public.users_status_enum DEFAULT 'PENDING_KYC'::public.users_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    metadata jsonb,
    role public.users_role_enum DEFAULT 'USER'::public.users_role_enum NOT NULL,
    avatar_url character varying,
    fcm_token character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: virtual_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.virtual_cards (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    last_four character varying NOT NULL,
    card_holder_name character varying NOT NULL,
    expiry_month character varying NOT NULL,
    expiry_year character varying NOT NULL,
    cvv character varying NOT NULL,
    status public.virtual_cards_status_enum DEFAULT 'ACTIVE'::public.virtual_cards_status_enum NOT NULL,
    brand character varying DEFAULT 'Visa'::character varying NOT NULL,
    daily_limit numeric(18,2) DEFAULT '1000'::numeric NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    card_number character varying,
    monthly_limit numeric(18,2) DEFAULT '5000'::numeric
);


ALTER TABLE public.virtual_cards OWNER TO postgres;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    currency character varying(10) NOT NULL,
    status public.wallets_status_enum DEFAULT 'ACTIVE'::public.wallets_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wallets OWNER TO postgres;

--
-- Data for Name: bill_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bill_payments (id, user_id, provider, bill_type, merchant_id, account_number, amount, currency, transaction_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: crypto_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.crypto_addresses (id, user_id, currency, network, address, memo, created_at) FROM stdin;
\.


--
-- Data for Name: escrows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exchange_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exchange_rates (id, from_currency, to_currency, rate, updated_at) FROM stdin;
\.


--
-- Data for Name: kyc_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ledger_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_api_keys (id, merchant_id, key_name, client_id, client_secret_hash, last_used_at, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: merchant_kyc; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: merchant_settlements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_settlements (id, merchant_id, amount, currency, status, transaction_id, destination_wallet_id, notes, created_at, updated_at, reference, processed_at) FROM stdin;
89d27121-fe8e-4469-9046-03b10bd5c636	867766ab-85dc-4673-8276-d82996092e91	4440.00000000	USD	PROCESSING	\N	\N	\N	2026-04-28 21:00:00.029889	2026-04-28 21:00:00.029889	SETTLE-1777410000073	\N
9d1bba72-a471-44c3-9a11-ab9ecbed1029	867766ab-85dc-4673-8276-d82996092e91	4390.00000000	USD	PENDING	\N	\N	Instant Bridge Protocol Initiated	2026-04-29 16:07:42.433965	2026-04-29 16:07:42.433965	BRDG-D4158F41FCE6	\N
\.


--
-- Data for Name: merchant_team_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_team_members (id, merchant_id, user_id, role, status, created_at) FROM stdin;
97bce0dc-0a5d-4750-ba70-5ecdc43a5810	867766ab-85dc-4673-8276-d82996092e91	13a8db9f-149a-44f1-b9a1-787c6cc4052a	ADMIN	INVITED	2026-04-28 22:40:25.713065
\.


--
-- Data for Name: merchant_terminals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_terminals (id, merchant_id, name, type, terminal_id, status, last_heartbeat, created_at, updated_at) FROM stdin;
f0b73ff8-0f60-4f10-9130-adf7b7b250fe	867766ab-85dc-4673-8276-d82996092e91	Quick software	VIRTUAL	TERM-7NXBR	ACTIVE	\N	2026-04-28 00:15:08.112372	2026-04-28 00:15:08.112372
\.


--
-- Data for Name: merchant_webhook_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_webhook_configs (id, merchant_id, url, secret, enabled_events, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: merchant_webhook_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_webhook_logs (id, merchant_id, event_type, payload, response_status, response_body, delivery_status, created_at) FROM stdin;
\.


--
-- Data for Name: merchants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchants (id, user_id, business_name, tax_id, website, status, created_at, updated_at, business_metadata, logo_url, branding_color, gencom_merchant_id, parent_id, business_type) FROM stdin;
867766ab-85dc-4673-8276-d82996092e91	b1b6637f-e87c-4837-b08d-91bda684a286	Generex communications Ltd	\N	https://generexcom.com	VERIFIED	2026-04-26 22:23:11.384134	2026-04-29 09:00:41.566063	\N	/uploads/logos/879176a782417a4484ce3834becb4b410.png	#22c915	GP-9O1LVC	\N	INDEPENDENT
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: virtual_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.virtual_cards (id, user_id, last_four, card_holder_name, expiry_month, expiry_year, cvv, status, brand, daily_limit, created_at, updated_at, card_number, monthly_limit) FROM stdin;
c9ee9ab2-9c51-4fca-ad57-e0aab257b94e	ccc60c1c-dc78-47ab-a724-8e7b0a32eb93	2543	Test User	12	28	336	ACTIVE	Visa	1000.00	2026-04-27 18:18:47.478043	2026-04-27 18:18:47.478043	\N	5000.00
4399f516-dbca-49bc-a28c-6da6d1f51322	b1b6637f-e87c-4837-b08d-91bda684a286	2063	CYRUS CLEMENT ONG'AU	12	28	207	ACTIVE	Visa	1000.00	2026-04-27 17:59:18.168245	2026-04-28 15:04:10.616084	4532889777991683	5000.00
\.


--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: kyc_records PK_116991f893d637ee173b9de8ed0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_records
    ADD CONSTRAINT "PK_116991f893d637ee173b9de8ed0" PRIMARY KEY (id);


--
-- Name: merchant_kyc PK_2ebf13ca6bd8ec991fc4af02832; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_kyc
    ADD CONSTRAINT "PK_2ebf13ca6bd8ec991fc4af02832" PRIMARY KEY (id);


--
-- Name: exchange_rates PK_33a614bad9e61956079d817ebe2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT "PK_33a614bad9e61956079d817ebe2" PRIMARY KEY (id);


--
-- Name: merchant_webhook_logs PK_3fef8d28058d4d7ef22e9130d6c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_webhook_logs
    ADD CONSTRAINT "PK_3fef8d28058d4d7ef22e9130d6c" PRIMARY KEY (id);


--
-- Name: merchants PK_4fd312ef25f8e05ad47bfe7ed25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchants
    ADD CONSTRAINT "PK_4fd312ef25f8e05ad47bfe7ed25" PRIMARY KEY (id);


--
-- Name: merchant_webhook_configs PK_508ad49783d4f1af0dc3af78e6b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_webhook_configs
    ADD CONSTRAINT "PK_508ad49783d4f1af0dc3af78e6b" PRIMARY KEY (id);


--
-- Name: notifications PK_6a72c3c0f683f6462415e653c3a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "PK_6a72c3c0f683f6462415e653c3a" PRIMARY KEY (id);


--
-- Name: ledger_entries PK_6efcb84411d3f08b08450ae75d5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT "PK_6efcb84411d3f08b08450ae75d5" PRIMARY KEY (id);


--
-- Name: virtual_cards PK_733e137730f42fc12d597705515; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.virtual_cards
    ADD CONSTRAINT "PK_733e137730f42fc12d597705515" PRIMARY KEY (id);


--
-- Name: wallets PK_8402e5df5a30a229380e83e4f7e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT "PK_8402e5df5a30a229380e83e4f7e" PRIMARY KEY (id);


--
-- Name: merchant_settlements PK_85b3fed5fdb296146c0aab01724; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_settlements
    ADD CONSTRAINT "PK_85b3fed5fdb296146c0aab01724" PRIMARY KEY (id);


--
-- Name: merchant_team_members PK_937aa65d6402e37e82ba4236eff; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_team_members
    ADD CONSTRAINT "PK_937aa65d6402e37e82ba4236eff" PRIMARY KEY (id);


--
-- Name: escrows PK_9cd10ae5b52350c3a20d124f5d3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escrows
    ADD CONSTRAINT "PK_9cd10ae5b52350c3a20d124f5d3" PRIMARY KEY (id);


--
-- Name: transactions PK_a219afd8dd77ed80f5a862f1db9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "PK_a219afd8dd77ed80f5a862f1db9" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: system_settings PK_b1b5bc664526d375c94ce9ad43d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT "PK_b1b5bc664526d375c94ce9ad43d" PRIMARY KEY (key);


--
-- Name: bill_payments PK_e623f0872b8b5d875f6e3dd3af1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_payments
    ADD CONSTRAINT "PK_e623f0872b8b5d875f6e3dd3af1" PRIMARY KEY (id);


--
-- Name: merchant_api_keys PK_e83f71483989cc0ba1decdbbbb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_api_keys
    ADD CONSTRAINT "PK_e83f71483989cc0ba1decdbbbb7" PRIMARY KEY (id);


--
-- Name: crypto_addresses PK_ef4ad64fd903d750cd400dd280b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crypto_addresses
    ADD CONSTRAINT "PK_ef4ad64fd903d750cd400dd280b" PRIMARY KEY (id);


--
-- Name: merchant_terminals PK_f2d19a876409d8b91fac201b517; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_terminals
    ADD CONSTRAINT "PK_f2d19a876409d8b91fac201b517" PRIMARY KEY (id);


--
-- Name: merchants REL_698f612a3134c503f711479a4e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchants
    ADD CONSTRAINT "REL_698f612a3134c503f711479a4e" UNIQUE (user_id);


--
-- Name: merchant_kyc REL_bd66b0e0d00e9019adf3277707; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_kyc
    ADD CONSTRAINT "REL_bd66b0e0d00e9019adf3277707" UNIQUE (merchant_id);


--
-- Name: kyc_records REL_d20b5a5f164a27f1a823596d19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_records
    ADD CONSTRAINT "REL_d20b5a5f164a27f1a823596d19" UNIQUE (user_id);


--
-- Name: merchant_api_keys UQ_329e48d7439c0e6ac8078c41c42; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_api_keys
    ADD CONSTRAINT "UQ_329e48d7439c0e6ac8078c41c42" UNIQUE (client_id);


--
-- Name: merchant_settlements UQ_6fd0b040d89e938147dbaab6f16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_settlements
    ADD CONSTRAINT "UQ_6fd0b040d89e938147dbaab6f16" UNIQUE (reference);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: merchants UQ_a5c8ba2170523b6cbf5d82fab43; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchants
    ADD CONSTRAINT "UQ_a5c8ba2170523b6cbf5d82fab43" UNIQUE (gencom_merchant_id);


--
-- Name: merchant_terminals UQ_bdce849ce5e13527648d5513574; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_terminals
    ADD CONSTRAINT "UQ_bdce849ce5e13527648d5513574" UNIQUE (terminal_id);


--
-- Name: IDX_28e334b6f478f744f74a5f8ad7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_28e334b6f478f744f74a5f8ad7" ON public.bill_payments USING btree (user_id);


--
-- Name: IDX_5691df03414fcc9a5c61e3cb0d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5691df03414fcc9a5c61e3cb0d" ON public.escrows USING btree (user_id);


--
-- Name: IDX_65106335483a301105418660d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_65106335483a301105418660d7" ON public.escrows USING btree (seller_wallet_id);


--
-- Name: IDX_92558c08091598f7a4439586cd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_92558c08091598f7a4439586cd" ON public.wallets USING btree (user_id);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_9a8a82462cab47c73d25f49261; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_9a8a82462cab47c73d25f49261" ON public.notifications USING btree (user_id);


--
-- Name: IDX_b26c5ef5853fd6e0a8680427f6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b26c5ef5853fd6e0a8680427f6" ON public.ledger_entries USING btree (transaction_id);


--
-- Name: IDX_e4440167e470be69f9622c1cea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e4440167e470be69f9622c1cea" ON public.ledger_entries USING btree (account_id);


--
-- Name: IDX_f8b9321b16e827f77eb94bb684; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_f8b9321b16e827f77eb94bb684" ON public.escrows USING btree (buyer_wallet_id);


--
-- Name: virtual_cards FK_09faf7eb5403413fdf3b82b17ef; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.virtual_cards
    ADD CONSTRAINT "FK_09faf7eb5403413fdf3b82b17ef" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: merchant_webhook_configs FK_17442a29c88bc038064fba94236; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_webhook_configs
    ADD CONSTRAINT "FK_17442a29c88bc038064fba94236" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: merchant_team_members FK_3d8828240178f0042c13af76872; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_team_members
    ADD CONSTRAINT "FK_3d8828240178f0042c13af76872" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: merchant_settlements FK_566cf0dfebeef3c305216bfc7df; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_settlements
    ADD CONSTRAINT "FK_566cf0dfebeef3c305216bfc7df" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: merchant_team_members FK_5954c2abb650e0738c55ce3d2ad; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_team_members
    ADD CONSTRAINT "FK_5954c2abb650e0738c55ce3d2ad" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: merchants FK_698f612a3134c503f711479a4e5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchants
    ADD CONSTRAINT "FK_698f612a3134c503f711479a4e5" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: merchant_terminals FK_83a8844e36b56b5efb3f197e431; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_terminals
    ADD CONSTRAINT "FK_83a8844e36b56b5efb3f197e431" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: crypto_addresses FK_8c4b7bb6559042dfd268435664f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crypto_addresses
    ADD CONSTRAINT "FK_8c4b7bb6559042dfd268435664f" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: merchant_api_keys FK_91449376218f51df6d7d6c2d4eb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_api_keys
    ADD CONSTRAINT "FK_91449376218f51df6d7d6c2d4eb" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: wallets FK_92558c08091598f7a4439586cda; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT "FK_92558c08091598f7a4439586cda" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ledger_entries FK_b26c5ef5853fd6e0a8680427f60; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT "FK_b26c5ef5853fd6e0a8680427f60" FOREIGN KEY (transaction_id) REFERENCES public.transactions(id);


--
-- Name: merchant_kyc FK_bd66b0e0d00e9019adf32777070; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_kyc
    ADD CONSTRAINT "FK_bd66b0e0d00e9019adf32777070" FOREIGN KEY (merchant_id) REFERENCES public.merchants(id);


--
-- Name: kyc_records FK_d20b5a5f164a27f1a823596d192; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_records
    ADD CONSTRAINT "FK_d20b5a5f164a27f1a823596d192" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lGxpYlznUytMaUJVOrbVJIqHQEbYo5evNMiPlQIbMa9vf2pCXMA0np0fyOFpctF

